.navbar-myproject {
  justify-content: space-between;
  background: #47a0ff;
  border-radius: 10px;
}

.navbar-myproject .navbar-collapse {
  flex-grow: 0;
}

.navbar-myproject .navbar-brand img {
  width: 40px;
}
